%p
  - unless action_name == 'edit'
    = link_to "Edit", edit_survey_path(@survey)
    \|
  = link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete
  \|
  = link_to "Return to My Surveys", surveys_path